@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Bank of BIT Online Banking Application allows clients to access and update bank data from the convenience of the Internet.</p>
