@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    160 Princess Street<br />
    Winnipeg, MB R3B 1K9<br />
    <abbr title="Phone">Main:</abbr>
    204.632-3237
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">slfroese@mymts.net</a><br />
    <strong>General:</strong> <a href="mailto:Marketing@example.com">slfroese@mymts.net</a>
</address>