@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bank of BIT</h1>
    <h2>Home Page.</h2>
    <p>Online Banking for the Bank of BIT Clients</p>
    <p>Welcome to the Bank of BIT Online Banking Application. Users may securely execute a variety of banking operations using this application.</p>
    
    
</div>

<div class="row">
    <h2>We offer the following:</h2>
    <div class="col-md-4">
        <h2>Transfer Funds</h2>
        <p>Clients can conveniently transfer funds between accounts (not implemented yet)</p>
    </div>
    <div class="col-md-4">
        <h2>Bill Payments</h2>
        <p>Clients can conveniently pay bills through this Online Banking Application. All major utility companies are included for online banking payments.(not implemented yet)</p>
    </div>
    <div class="col-md-4">
        <h2>Client Management</h2>
        <p>Clients can <a href="../../Clients/Index">update</a> their contact information using this application. (implemented)</p>
    </div>
    <div class="col-md-4">
        <h2>Account Management</h2>
        <p>Clients can update their Bank Account information using this application. (not implemented yet)</p>
    </div>
</div>